<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>This is a microservice that converts UTC time string to unix, and vice versa. Example usage: </h3>
      <ul>
        <li><a href="/2011-9-14">[project url]/2011-9-14</a></li>
        <li><a href="/1315958400000">[project url]/1315958400000</a></li>
      </ul>

    </div>
    <div class="footer">
      <p>
        By Alibi Zhenis
      </p>
    </div>
  </body>
</html>
